[Unit]
Description=LED Strip control service

[Service]
ExecStart=/opt/LEDControl.py
ExecStop=/bin/kill -9 $MAINPID
KillMode=process
KillSignal=SIGKILL
Restart=always

[Install]
WantedBy=multi-user.target
